
/* searchbox */

.searchContainer {
   min-height: 3rem; 
}

.inputOuterWrapper {
    width: auto;
    display: flex;
    justify-content: center;

}

.inputInnerWrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    height: 2.25rem;
}

.searchbox {
    display:flex;
    height: 3rem;
}

.searchInput {
  caret-color: white;
}


/*  Dropdown */
.dropdownContainer{
    display:flex;
    flex-direction: column;
    position:absolute;

    background-color: rgb(68, 57, 57);

    width: 80%;                               /* fix*/
    border-bottom: 1px solid rgb(196, 179, 179);
    z-index:999
}

.dropdownList{
    flex:1;
    border-bottom: 1px solid rgb(19, 29, 31);
    color:white;
    margin: 10px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }

.dropdownList:hover {
  background: rgb(104, 103, 103);
  transition: background 1s;
}

.seeMoreResults {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  text-align: center;
  font-style: italic;

}
.seeMoreResults:hover {
  background: rgb(104, 103, 103);
  transition: background 1s;

}

.noResult {
  padding: 0.5rem 0.75rem;
  color: #888;
  text-align: center;
  cursor: default;
}















/* Container for the search bar and dropdown */
.searchContainer {
  position: relative;
  display: inline-block;
  width: 40%;
}


.searchInput {
    flex:1;
    max-width: 500px;
    min-height: 30px;
    outline: none;
    color: rgb(66, 54, 54);
    text-align: left;
    font-size: 1.6rem;
    background-color: rgb(110, 103, 94);
    border-radius: 3px;
    border:none;
}

.searchButton {
    position: absolute;
    padding-left: 1rem;
    border: none;
    cursor: pointer;
    size: 0.75rem;
    background: none;
}










