.cartHead {
    font-size: clamp(1.6rem, 2vw 2.2rem);
    font-weight: 500;
    color: #333;
    text-align: center;
    padding: .5em 0 0 1em;
}

.emptyCart {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 20px 0px;
}

.cardCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(.2rem, 1vw, .6rem);
    border-bottom: 1px solid #3333333f;

    .title {
        font-size: clamp(0.8rem, 2.1vw, 1.2rem);
        text-align: left;
        display: block;
        width: 100%;
        padding-left: clamp(5px, 2vw, 20px);
    }

    img {
        width: clamp(60px, 2vw, 80px);
        height: clamp(60px, 2vw, 80px);
        object-fit: cover;
        border-radius: 5px;
    }

    .s1 {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;

        h3 {
            font-size: clamp(1rem, 1.2rem, 1.3rem);
            font-weight: 500;
            color: #333;
        }

        h2 {
            width: fit-content;
            height: 35px;
            color: #333;
            border: 1px solid #7575753f;
            border-radius: 10px;
            padding: 1px 10px;
            white-space: nowrap;

            .priceQuantity {
                font-size: clamp(.8rem, 2vw, .9rem);
                font-weight: 400;
            }
            .priceCurrency {
                font-size: clamp(.8rem, 2vw, .9rem);
                font-weight: 400;
            }
        }

        svg {
            width: clamp(20px, 2vw, 25px);
            height: clamp(20px, 2vw, 25px);
            cursor: pointer;
        }
    }
}


.incredecre {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 20px;

    button {
        width: clamp(25px, 2vw, 32px);
        height: clamp(25px, 2vw, 32px);
        border-radius: 50%;
        border: none;
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #3333333f;
    }

    span {
        font-size: clamp(0.8rem, 2vw, 1.0rem);
        font-weight: 500;
        color: #333;
    }
}

.totalPriceWrapper {
    text-align: right;
    margin-top: .4rem;
    padding-right: clamp(1rem, 4vw, 1rem);

    h2 {
        .fontBold {
            font-size: clamp(1rem, 1vw, 1.5rem);
            font-weight: 600;
            color: #333;
        }

        .totalPrice {
            font-size: clamp(1rem, 1vw, 1.5rem);
            font-weight: 500;
            color: #333;
        }

        .currency {
            font-size: clamp(1rem, 1vw, 1.5rem);
            font-weight: 500;
            color: #333;
        }
    }
}