/*---------------------------------------
1. GENERAL STYLES
---------------------------------------*/

.topNavigationContainer {
    display: flex;
    position: relative; /* setup to use hamburger menu set up as absolut positionin - ASK in group no one knows that is a bad apprach*/
    align-items: center;
    justify-content: space-between;
    background-color: rgb(14, 14, 14);
    color: rgb(240, 239, 239);
    z-index: 100; 
    padding: 16px;

    height: 75px;

}



/*---------------------------------------
2. MOBILE DEFUALT <760px
---------------------------------------*/

.mobileView {
    display:flex;
    align-items: center;
    height:100%;
    width: 100%;
    justify-content: space-between;

   
}
    .siteLogo {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        
      }

    .dropdownMenu {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        font-size: 1.75rem;
        
        position:absolute;
        left:0px;
        top:75px;
        width: 100%;
        height: calc(100vh - 75px) /* To leave space for the navbar*/;
        background-color: rgb(207, 63, 63); 
        overflow: hidden;

        z-index:99;
    }

    .tabletView, .desktopView {
        display: none;
    }




/*---------------------------------------
3. Tablet View - 760-940
---------------------------------------*/

@media (min-width: 760px) and (max-width: 959px) {
    .tabletView {
        display:flex;
        width: 100%;
        background:blue;
        align-items: center;
        /* rest of styling for tabletView - this is ok?*/
    }

    .tabletContainerUno {
        display:flex;
        width: 50%;
        gap: 2rem;
        background:red;
        
        /* rest of styling for tabletView - this is ok?*/
    }

    .tabletContainerDos {
        display:flex;
        width:50%;
        gap:1rem;
        justify-content: flex-end;
        width: 70%;
        background:purple;
        /* rest of styling for tabletView - this is ok?*/
    }


    .mobileView, .desktopView {
        display: none;
    }
}




/*---------------------------------------
4. Desktop View - >940px
---------------------------------------*/


@media (min-width: 960px) {
    .desktopView {
        display:flex;
        /* rest of styling for tabletView - this is ok?*/
    }

    .mobileView, .tabletView {
        display: none;
    }
}













/* Media Query Setup
@media (max-width: 759px){
.mobileView { display: flex; }
.tabletView { display: none; }
.desktopView { display: none; }
}

Tablet 
@media (min-width: 760px) and (max-width: 959px) {
  .mobileView { display: none; }
  .tabletView { display: flex; }
  .desktopView { display: none; }
}

Desktop
@media (min-width: 960px) {
  .mobileView {display: none; }
  .tabletView {display: none; }
  .desktopView {display: flex; }
}







/* Defualt - "mobile-first" <760 
.mobileView {
    display:flex;
  }

.tabletview{
    display:none;
}

.desktopview{
    display:none;
}

/* */


/* Laptop (Medium screens) - 760px to 959px 
@media (min-width: 760px) and (max-width: 959px) {
    .mobileView {
        display: none;
      }

}


/* Desktop (/Large screens) - 960px and above 
@media (min-width: 960px) {
    .mobileView {
        display: none;
      }
      
      .tabletView {
        display: none;
      }
  }





/* Mobile version - < 720 px

@media screen and (max-width: 720px) {
     

    .navbarContainerMobile {
    height: 80px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 1); 

    
    display:flex;
    position:sticky;
    top:0;
    justify-content: space-between;
    align-items: center;
    
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;

    z-index:100;

    
    .hamburgermenu {
        cursor: pointer;
        width: 36px;
        height: 36px;

        
            


            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 7rem;
            
            font-size: 1.5rem;
        }
    }
}

"Desktop" version - > 720 px

@media screen and (min-width: 720px) {


            .navbarContainerDesktop {
                height: 60px;
                padding: 16px;
                width: 100%;
                
                display:flex;

            .logo {
                width:20%;
            }

            .menu {
                display:flex;
                width: 40%;
                justify-content: space-between;
                gap:60px;
                background-color: yellow;
            }

            .icons {
                display:flex;
                width: 40%;
                justify-content: end;
                background-color: blue;
            }
        }  
    }
}



/*

.navbarContainerDesktop {
        height: 60px;
        padding: 16px;
        width: 100%;
        
        display:flex;

    .logo {
        width:20%;
    }

    .menu {
        display:flex;
        width: 40%;
        justify-content: space-between;
        gap:60px;
        background-color: yellow;
    }

    .icons {
        display:flex;
        width: 40%;
        justify-content: end;
        background-color: blue;
    }
}  

     

.navbarContainerDesktop {
    display:flex;
    font-size: 2.5rem;
    margin: 4rem;  
    background-color: blue;
    

    justify-content: space-between;
    

 

    }
}

*/
