/*---------------------------------------
1. GENERAL STYLES
---------------------------------------*/

.topNavigationContainer {
    background-color: rgb(14, 14, 14);
    color: rgb(240, 239, 239);
}

.navIconsWrapper {
    padding: 0 25px 0 15px;
}

.cartCount {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 1px;
}


/*---------------------------------------
2. MOBILE DEFUALT <760px
---------------------------------------*/

@media (max-width: 760px) {
    body {
        padding-top: 75px;
        /* same height as navbar */
    }

    .mobileViewContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        padding: 0px 16px;

        background-color: rgb(14, 14, 14);
        color: rgb(240, 239, 239);
        z-index: 100;
    }

    .siteLogo {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    .dropdownMenu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 3rem;
        font-size: 1.75rem;

        position: fixed;
        left: 0px;
        top: 60px;
        width: 100%;
        height: 100vh;
        background-color: rgb(14, 14, 14);
        color: rgb(240, 239, 239);
        overflow: auto;
        z-index: 50;
        padding: 2rem 5rem
    }

    .loginLink {
        font-size: 1.5rem;
        text-align: center;
    }

    .cartCount {
        font-size: 1rem
    }

    .desktopViewContainer {
        display: none;
    }
}

/*---------------------------------------
3. Desktop View - >940px
---------------------------------------*/


@media (min-width: 760px) {
    .desktopViewContainer {
        gap: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 75px;
        padding: 0 16px;
    }

    .siteLogo {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    .navLinksWrapper {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
        font-size: 1.5rem;
    }

    .searchBarOuterWrapper {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .searchBarInnerWrapper {
        display: flex;
        position: relative;
        align-items: center;
        width: 70%;
        height: 2.25rem;
    }

    .searchInput {
        flex: 1;
        outline: none;
        color: black;
        text-align: center;
        font-size: 0.75rem;
    }

    .searchButton {
        position: absolute;
        padding-left: 1rem;
        border: none;
        cursor: pointer;
        size: 0.75rem;
        background: none;
    }

    .navIconsWrapper {
        display: flex;
        flex: 1;
        gap: 1.5rem;

        width: 40%;
        font-size: 1.5rem;
        justify-content: flex-end;
        align-items: center;
    }

    .pageLink {
        color: rgb(240, 239, 239);
        font-size: large;
    }

    .loginLink {
        font-size: .9rem;
        text-align: center;
    }

    .mobileViewContainer {
        display: none;
    }
}