.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 1rem;

  .card {
    background-color: var(--cardColor);
    border: 1px solid var(--cardBorderColor);
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    align-items: center;

    .imageWrapper {
      display:flex;
      justify-content: center;
      .image {
        width: auto;
        height: 160px;
        margin: 10px 0 210px 0;
      }
    }

    .lowerHalf {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: auto;
      position: absolute;
      bottom: 5px;
      width: 94%;
      /* border: 1px solid beige;
      border-radius: 5px;
      box-shadow: 2px 2px rgb(146, 146, 131); */
      padding: 6px;

      .btnWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        /* .btnSeeDetails {
          width: fit-content;
          white-space: nowrap;
          border: 1px solid rgb(31, 22, 10);
          border-radius: 6px;
          height: 1.6rem;
          width: 5rem;
          padding: 0.26rem;
          color: aliceblue;
          background-color: var(--bgColBtnDetails);
          outline-offset: 0.3rem;  accessibility issue 
          }
          .btnSeeDetails:hover {
            background: #e1e1e1;
            border: 1px solid var(--bgColBtnDetails);
            color: var(--bgColBtnDetails);
          } 
          */
          
        .btnBuy {
          border: 1px solid rgb(31, 22, 10);
          border-radius: 6px;
          width: 98%; 
          height: 2rem;
          padding: 0.26rem;
          color: aliceblue;
          background-color: var(--bgColBtnBuy);
          outline-offset: 0.3rem; /* accessibility issue */
        }

        .btnBuy:hover {
          background: #e1e1e1;
          border: 1px solid var(--bgColBtnBuy);
          color: var(--bgColBtnBuy);
        }
      }

      .paraD {
        display: inline-flex;
        font-weight: bold;
        /* font-size: small; */
        margin-bottom: 1rem;
        margin-right: 0.5rem;
      }

      .paraSmall {
        font-size: small;
        margin-bottom: 1rem;
        /* margin-right: 0.5rem; */
      }
    }
  }
}