.cards{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 1rem;
  
    .card{
      background-color: var(--cardColor);
      border: 1px solid var(--cardBorderColor);
      padding: 0.5rem;
  
      .imageWrapper{
        .image{
          width: 100%;
          height: auto;
        }
      }
    }
  }