.navbarContainer {
    display:flex;
    font-size: 3rem;
    margin: 4rem;  // 

    background-color: blue;
    align-items: center;
    gap:50px;

    justify-content: space-between;
    
    .logo {
        width:25%;
    }

    .menu {
        display:flex;
        width: 25%;
        justify-content: space-between;
        gap:60px;
        background-color: red;
    }

    .icons {
        display:flex;
        width: 25%;
        justify-content: end;
        background-color: red;
    }

    
}