.navbarContainer {
    display:flex;
    font-size: 4rem;
    margin: 1rem;

    background-color: blue;
    align-items: center;

    justify-content: space-between;
    
    .logo {
        width:25%;
    }

    .menu {
        justify-content: space-around;
    }

    .icons {
        width: 25%;
        justify-items: center;
    }

    
}