.navbarContainer {
    display:flex;
    font-size: 4rem;
    margin: 1rem;
    
    .logo {
        width:25%;
    }

    .menu {
        width: 50%;
    }

    .icons {
        width: 25%;
    }

    
}