.navbarContainer {
    display:flex;
    font-size: 4rem;
    margin: 1rem;

    background-color: blue;
    align-items: center;

    justify-content: space-between;
    
    .logo {
        width:25%;
    }

    .menu {
        display:flex;
        width: 25%;
        justify-content: space-between;
        gap:30px;
        background-color: red;
    }

    .icons {
        display:flex;
        width: 25%;
        justify-content: end;
        background-color: red;
    }

    
}