.navbarContainer {
    display:flex;
    font-size: 4rem;
    margin: 1rem;
    background-color: blue;
    
    .logo {
        width:25%;
    }

    .menu {
        width: 50%;
        gap:50px;
    }

    .icons {
        width: 25%;
        justify-items: center;
    }

    
}