.footWrapper {
    font-size: small;
    margin-top: 10px;
    width: 100%;
    display: flex;
    min-height: 40px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--fontColBtnBuy);
    padding: .8rem;
}

.leftSide,
.rightSide {
    display: flex;
    align-items: center;
    flex: 1;
}

.leftSide {
    justify-content: flex-start;
    padding-left: .5rem;
}

.rightSide {
    justify-content: flex-end;
    margin-right: 1rem;
}

@media screen and (min-width: 801px) {
    .footWrapper {
        padding: 1rem 2rem;
    }

    .leftSide {
        margin-left: 2rem;
    }

    .rightSide {
        margin-right: 2rem;
    }
}


@media screen and (max-width: 800px) {
    .footWrapper {
        flex-wrap: nowrap;
    }

    .leftSide,
    .rightSide {
        flex: 1;
        justify-content: space-between;
        text-align: center;
    }

    .rightSide {
        margin-right: -3rem;
    }
}
