.loadScreen {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 2rem);

  background-image: url("/tube-spinnerdark.svg");
  background-repeat: no-repeat;
  background-position: calc(50vw - 6rem);
  background-size: 12rem;
}

@media (prefers-color-scheme: dark) {
  .loadScreen {
    background-image: url("/tube-spinner.svg");
  }

  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(8, auto);
  /* Två kolumner */
  gap: 10px;

  li {
    list-style-type: none;
    padding: 10px;
    border: 1pxsolid#ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  p {
    margin-top: auto;
  }
}

.product {
  margin-top: auto;
  width: 40%;
  height: auto;
  object-fit: cover;
}

.laptops {
  white-space: nowrap;
  font-size: .8rem;
  text-align: center;
}

.category,
.kitchen_accessories,
.mobile_accessories,
.beauty {
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
}

.ToolPanel {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-bottom: 0;
  padding-right: 0;
  width: calc(100% - 1rem);



  div,
  form {
    flex: auto;
    height: 2rem;

    input {
      height: 100%;
    }

    button {
      height: 100%;
      width: 2rem;
      background-color: transparent;
    }
  }
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}
.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  .chosenProducts {
    /* border: 1px solid slateblue; */
    width: 80vw;
  }

  @media screen and (max-width: 400px) {
    .allWrapper {
      flex-direction: column;
      gap: 20px;
    }

    .campaignWrapper {
      flex-direction: column;
    }
  }
}