.categoryList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* Två kolumner */
  gap: 10px;

  li {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;


  }
}

.product {
  width: 20%;
  height: auto;
  object-fit: cover;
}